.cart__checkout {
  position: absolute;
  bottom: 0;
}

.cart-checkout {
  width: 100%;
  background-color: white;

  &::before {
    display: block;
    content: '';
    height: 2px;
    width: 100%;
    background-color:#D9D9D9;
  }
}

.cart-checkout__info {
  padding: 31px 50px 0;
}

.checkout-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-checkout__text {
  font-weight: normal;
  font-size: 25px;
  line-height: 105.7%;
  color: #BBBBBB;
}

.cart-checkout__price {
  font-weight: bold;
  font-size: 25px;
  line-height: 105.7%;
  color: #612999;
}

.cart-checkout__total {
  padding-top: 15px;
}

.cart-checkout__button {
  margin: 28px 30px 68px;
  padding: 25px 163px;

  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  text-align: justify;
  letter-spacing: 0.2em;
  color: #FFFFFF;
  border: none;
  outline: none;
  background: #612999;
  border-radius: 19px;
  cursor: pointer;

  &:hover, &:active, &:focus {
    background: #411b66;
  }

  &:disabled {
    background: #4c3f58; 
    cursor: default;   
  }
}

