.group-filter__wrapper {
  padding-left: 271px;
}

.grout-filter__list {
  display: flex;
  list-style: none;
}

.group-filter__element {
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  color: #461874;
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
}

.group-filter__element_active {
  background-color: #612999;
  color: white;
}

@media screen and (max-width: 1780px) {
  .group-filter__wrapper {
    padding-left: 221px;
  }
}

@media screen and (max-width: 1680px) {
  .group-filter__wrapper {
    padding-left: 121px;
  }
  .group-filter__element {
    font-size: 32px;
  }
}

@media screen and (max-width: 1550px) {
  .group-filter__wrapper {
    padding-left: 70px;
  }
}

@media screen and (max-width: 1450px) {
  .group-filter__element {
    font-size: 28px;
  }
}

@media screen and (max-width: 1350px) {
  .group-filter__element {
    font-size: 24px;
  }
}

@media screen and (max-width: 1250px) {
  .group-filter__element {
    font-size: 20px;
  }
}

@media screen and (max-width: 1250px) {
  .group-filter__element { 
    padding: 10px 20px;
  }
}