.nav {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.nav__list {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-top: 75px;
}

.nav__link {
  text-decoration: none;
  color: white;
  font-size: 20pt;

  &:hover, &:focus, &:active {
    opacity: 0.7;
  }
}

.nav__element {
  margin-right: 61px;
}

.nav__element:last-of-type {
  margin-right: 0;
}