.nav {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.nav_active {
  background-color: #612999;
  transition: 1s;
  
  .nav__list {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.nav__list {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-top: 75px;
  transition: 1s padding;
}

.nav__link {
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: white;
  transition: 0.5s color;

  &:hover, &:focus, &:active {
    opacity: 0.7;
  }
}

.nav__element {
  margin-right: 61px;
}

.nav__element:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 1250px) {
  .nav__link {
    font-size: 24px;
  }
  .nav__list {
    padding-top: 60px;
  }
}

@media screen and (max-width: 1050px) {
  .nav__list {
    padding-top: 40px;
  }
}