.container {
  padding: 0 100px;
}

.intro__title {
  padding-top: 319px;
  font-weight: bold;
  font-size: 130px;
  line-height: 156px;
  color: #612999;
  height: 191px;
}

.intro__text {
  color: white;
  max-width: 501px;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  text-align: justify;
}