.container {
  padding: 0 100px;
}

.intro__title {
  padding-top: 319px;
  font-size: 60pt;
  color: #612999;
  line-height: 156px;
}

.intro__text {
  color: white;
  font-size: 16pt;
  max-width: 450px;
  line-height: 30px;
  text-align: justify;
}