.cart-product {
  display: flex;
  padding: 0 55px 46px 26px;
  justify-content: space-between;

  &:last-of-type {
    padding-bottom: 0;
  }
}

.cart-product__main {
  display: flex;
}

.cart-product__image-container {
  width: 195px;
  height: 109px;
  background: #C4C4C4;
  border-radius: 15px;
  overflow: hidden;
}

.cart-product__image {
  width: 100%;
}

.cart-product__info {
  padding-left: 32px;
  max-width: 230px;
}

.cart-product__name {
  font-weight: bold;
  font-size: 25px;
  line-height: 105.7%;
  color: #461874;
}

.cart-product__price {
  padding-top: 10px;
  font-weight: bold;
  font-size: 25px;
  line-height: 105.7%;
  color: #AE8DD0;
}

.cart-product__count-container {
  padding-top: 15px;
  display: flex;
}

.cart-product__count-minus {
  width: 24px;
  height: 20px;
  background: rgba(97, 41, 153, 0.2);
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  color: black;
  user-select: none;
}

.cart-product__count {
  font-weight: bold;
  font-size: 20px;
  line-height: 105.7%;
  color: #612999;
  padding-left: 11px;
}

.cart-product__count-plus {
  width: 24px;
  height: 20px;
  margin-left: 11px;
  background: #612999;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.cart-product__delete {
  align-self: center;
  cursor: pointer;
  user-select: none;
}